<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOh-czPJsYk3s5XPfvTFGZYs3nNWKOebg</string>
	<key>GCM_SENDER_ID</key>
	<string>643435716266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.agriinovate</string>
	<key>PROJECT_ID</key>
	<string>agriinovate-u39znz</string>
	<key>STORAGE_BUCKET</key>
	<string>agriinovate-u39znz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643435716266:ios:a95eda6d701b79e1eebad3</string>
</dict>
</plist>